@model PagedList.IPagedList<WebTracNghiem_LeNgocVinh.Models.DeThi>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý đề thi";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "DeThis", FormMethod.Get))
{
    <p>
        <table class="table-condensed">
            <tr>

                <td>
                    Tìm kiếm:
                </td>
                <td>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string,
                   new { @class = "form-control", @placeholder = "Nhập từ khóa tìm kiếm" })
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> Tìm kiếm
                    </button>
                </td>
                <td>
                    <a href="@Url.Action("Index", "DeThis")" class="btn btn-default">
                        <i class="fas fa-sync-alt"></i>
                        <span>
                            <strong>Tải lại</strong>
                        </span>
                    </a>
                </td>
            </tr>
        </table>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Ngày thi", "Index", new { sortOrder = ViewBag.ngayThi })
        </th>
        <th>
            Thời gian thi
        </th>
        <th>
            Số câu
        </th>
        <th class="text-right">
            <a href="@Url.Action("Create", "DeThis")">
                <i class="fas fa-plus"></i>
                <span>
                    <strong>Thêm mới</strong>
                </span>
            </a>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ngayThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiGianThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soCau)
            </td>
            <td class="text-right">
                <a href="@Url.Action("Edit", "DeThis", new { iD_De = item.iD_De })">
                    <i class="fas fa-edit"></i>
                </a>&nbsp;
                <a href="@Url.Action("Details", "DeThis", new { iD_De = item.iD_De })">
                    <i class="fas fa-info-circle"></i>
                </a>&nbsp;
                <a href="@Url.Action("Delete", "DeThis", new { iD_De = item.iD_De })">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

